# Getting data

This time I choose a dataset of Star Wars Movie Scripts.

In [8]:
import pandas as pd

#### Downloading the dataset from Kaggle

In [2]:
!kaggle datasets download -d xvivancos/star-wars-movie-scripts

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/lucianalescano/.kaggle/kaggle.json'
Downloading star-wars-movie-scripts.zip to /Users/lucianalescano/Ironhack/Meanwhile/project5-api_sentiment/notebooks
100%|████████████████████████████████████████| 158k/158k [00:00<00:00, 1.13MB/s]
100%|████████████████████████████████████████| 158k/158k [00:00<00:00, 1.12MB/s]

In [4]:
!tar -xzvf star-wars-movie-scripts.zip

x SW_EpisodeIV.txt
x SW_EpisodeV.txt
x SW_EpisodeVI.txt
x wordcloud_masks/r2d2.png
x wordcloud_masks/rebel alliance.png
x wordcloud_masks/vader.png
x wordcloud_masks/yoda.png

In [2]:
!mv ../notebooks/SW_EpisodeIV.txt ../data/SW_EpisodeIV.txt
!mv ../notebooks/SW_EpisodeV.txt ../data/SW_EpisodeV.txt
!mv ../notebooks/SW_EpisodeVI.txt ../data/SW_EpisodeVI.txt

In [4]:
!rm star-wars-movie-scripts.zip

#### Exploring the dataset

In [54]:
fourth_episode = pd.read_table('../data/SW_EpisodeIV.txt', delim_whitespace=True, header=0, escapechar='\\')
fourth_episode

       character                                           dialogue
1       THREEPIO  Did you hear that?  They've shut down the main...
2       THREEPIO                                      We're doomed!
3       THREEPIO  There'll be no escape for the Princess this time.
4       THREEPIO                                       What's that?
5       THREEPIO  I should have known better than to trust the l...
...          ...                                                ...
1006        LUKE                                            Oh, no!
1007    THREEPIO  Oh, my!  Artoo!  Can you hear me?  Say somethi...
1008  TECHNICIAN               We'll get to work on him right away.
1009    THREEPIO  You must repair him!  Sir, if any of my circui...
1010        LUKE                                He'll be all right.

[1010 rows x 2 columns]

In [35]:
#fourth_episode.sample(20)
#fourth_episode.isna().sum()
#fourth_episode.isnull().sum()

character    0
dialogue     0
dtype: int64

In [55]:
fifth_episode = pd.read_table('../data/SW_EpisodeV.txt', delim_whitespace=True, header=0, escapechar='\\')
fifth_episode

    character                                           dialogue
1        LUKE  Echo Three to Echo Seven. Han, old buddy, do y...
2         HAN                    Loud and clear, kid. What's up?
3        LUKE  Well, I finished my circle. I don't pick up an...
4         HAN  There isn't enough life on this ice cube to fi...
5        LUKE  Right. I'll see you shortly. There's a meteori...
..        ...                                                ...
835      LUKE  I'll meet you at the rendezvous point on  Tato...
836     LANDO               Princess, we'll find Han. I promise.
837      LUKE           Chewie, I'll be waiting for your signal.
838      LUKE     Take care, you two. May the Force be with you.
839      LUKE                                                Ow!

[839 rows x 2 columns]

In [38]:
#fifth_episode.sample(20)
#fifth_episode.isna().sum()
#fifth_episode.isnull().sum()

character    0
dialogue     0
dtype: int64

In [56]:
sixth_episode = pd.read_table('../data/SW_EpisodeVI.txt', delim_whitespace=True, header=0, escapechar='\\')
sixth_episode

                 character                                           dialogue
1          SHUTTLE CAPTAIN  Command station, this is ST 321. Code Clearanc...
2    DEATH STAR CONTROLLER  The security deflector shield will be deactiva...
3          SHUTTLE CAPTAIN                       We're starting our approach.
4                  OFFICER  Inform the commander that Lord Vader's shuttle...
5                 OPERATOR                                          Yes, sir.
..                     ...                                                ...
670                  LANDO       Wedge, I don't think we're going to make it.
671                  WEDGE        You'll make it. Just follow me Gold Leader.
672                  LANDO  I promised to return his ship without a scratc...
673                    HAN                                           Lando...
674               THREEPIO                                       They did it!

[674 rows x 2 columns]

In [41]:
#sixth_episode.sample(20)
#sixth_episode.isna().sum()
#sixth_episode.isnull().sum()

character    0
dialogue     0
dtype: int64

#### Export

In [57]:
fourth_episode.to_csv('../data/fourth_episode_dataset.csv')

In [58]:
fifth_episode.to_csv('../data/fifth_episode_dataset.csv')

In [59]:
sixth_episode.to_csv('../data/sixth_episode_dataset.csv')